body {
  text-align: center;
 }

#page-wrap {
  text-align: left;
  width: 800px;
  margin: 0 auto;
}

.centered {
  position: fixed;
  top: 30%;
  left: 45%;
  margin-top: -50px;
  margin-left: -100px;
  padding: 20px;
  background: #eeeeee;
  border: 1px solid #bbbbbb;
    
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}